.photos-wrapper {
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.photo {
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
}

.photo:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
    box-shadow: 0 32px 75px rgba(0, 0, 0, 0.548)
}